/* Сброс стилей по умолчанию */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Подключение шрифтов */
@font-face {
  font-family: 'Hagrid';
  src: url('/static/regandaut/font/Hagrid-Regular-trial.ttf') format('truetype');
}

@font-face {
  font-family: 'Candara';
  src: url('/static/regandaut/font/Candara.ttf') format('truetype');
}

/* Общие стили */
body {
  margin: 0;
  font-family: 'Candara', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(47, 52, 105, 0.9), rgba(134, 141, 212, 0.9));
  color: white;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/static/eventpage/img/IMG_7283.PNG') no-repeat center center;
  background-size: cover;
  z-index: -1;
  opacity: 1;
}

/* Хедер */
header {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(134, 141, 212); /* Light purple */
    border-radius: 20px; /* Rounded corners */
    padding: 0 10px;
    margin: 15px auto; /* Center it horizontally */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    height: 115px;
  }

.logo img {
  width: 150px;
  height: auto;
}

.logo a {
  margin: 10px 10px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}

.search-bar form {
    display: flex;
    align-items: center;
    border: 1px solid white;
    flex-grow: 1;
    margin: 0 10px; /* Spacing around the search bar */
    background-color: rgba(134, 141, 212);
    border-radius: 20px;
    padding: 5px 10px;
    width: 900px;
    position: absolute;
    top: 33%;
    left: 22%;
  }

  .search-bar input {
    border: none;
    outline: none;
    color: white;
    flex-grow: 10; /* Make input take up available space */
    padding: 10px;
    background-color: rgba(134, 141, 212);
    border-radius: 15px;
    font-size: 24px;
    font-family: 'Candara';
  }

  .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .search-bar button img {
    width: 32px;
    height: auto;
    margin-right: 2%;
  }

 .city-select {
        position: relative;
        display: inline-block;
        color: rgba(255, 255, 255);
        margin-left: 66%;
        text-align: center;
    }
    .city-text {
        font-size: 24px;
        font-weight: bold;
        color: white;
    }
    .city-select .dropdown li {
        color: rgba(59, 67, 113, 0.9);
        padding: 10px;
        cursor: pointer;
      }

      .city-select .dropdown li:hover {
        background-color: rgba(134, 141, 212, 0.9);
        color: white;
      }

      .city-select {
        position: relative;
        display: inline-block;
        color: rgba(255, 255, 255);
        width: 20%; /* Фиксированная ширина в процентах */
    }

    .city-select button {
        width: 100%; /* Кнопка растягивается по ширине родителя */
        padding: 10px 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: #f9f9f9;
        cursor: pointer;
    }

    .city-select .dropdown {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 15px;
        width: 100%; /* Растягивается до ширины родителя */
        display: none;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1;
        text-align: center;
    }

    .city-select .icon {
        width: 10%; /* Размер иконки в процентах от ширины родителя */
        height: auto;
    }

  .city-select .dropdown li {
    padding: 10px;
    cursor: pointer;
  }

  .city-select .dropdown li:hover {
    background-color: rgba(134, 141, 212, 0.9);
  }

  .city-select:hover .dropdown {
    display: block;
}

/* кнопка профиля */
.profile button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.profile img {
  width: 38px;
  height: auto;
  cursor: pointer;
  margin: 0 28px 0 0 ;
}

/* Основной контейнер */
.container {
  max-width: 1550px;
  width: 100%;
  padding: 40px;
  margin-top: 100px; /* Отступ для учета фиксированного хедера */
  display: flex;
  justify-content: center;
}

/* Контент */
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

/* Изображение мероприятия */
.event-image {
  flex: 0 0 40%;
  max-width: 40%;
  border-radius: 5px;
}

.event-image img {
  width: 75%;
  height: auto;
  margin-left: 22%;
  margin-bottom: 3%;
}

/* Детали мероприятия */
.event-details {
  flex: 0 0 55%;
  max-width: 55%;
  font-family: 'Candara';
  src: url('/static/regandaut/font/Candara.ttf') format('truetype');
}

.event-details h2 {
  font-size: 64px;
  margin-bottom: 5%;
  font-family: 'Hagrid';
  src: url('/static/regandaut/font/Hagrid-Regular-trial.ttf') format('truetype');
}

.description {
  margin-bottom: 3%;
  line-height: 1.5;
  font-size: 20px;
}

.description-p {
  font-size: 24px;
}

.info p {
  margin-bottom: 2%;
  font-size: 22px;
}

.info p strong {
  font-weight: bold;
  font-size: 24px;
}

/* Кнопка "Купить билет" */
.buy-ticket {
    margin-top: 2%;
    background: #868DD4;
    opacity: 0.9;
    color: white;
    border: 1px solid white;
    padding: 10px 40px;
    font-size: 35px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Candara';
    src: url('/static/regandaut/font/Candara.ttf') format('truetype');
    border-radius: 35px;
    cursor: pointer;
    transition: background 0.3s;
}

.buy-ticket:hover {
    background: #2F3469;
    opacity: 0.9;
}

/* Адаптивность */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .content {
    flex-direction: column;
    padding: 20px;
  }

  .event-image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .event-details {
    max-width: 100%;
  }

  header {
    flex-wrap: wrap;
  }

  .search-box {
    flex-direction: column;
    width: 100%;
  }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.modal.show {
    visibility: visible;
    z-index: 100;
    opacity: 1;
}

.modal .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
}

.modal-window {
    position: relative;
    z-index: 2;
    width: 1100px;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(180deg, rgb(47, 52, 105), rgb(134, 141, 212));
    color: white;
    padding: 20px;
    overflow: hidden;
}

.close-window {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: none;
    opacity: 0.6;
    color: white;
    font-size: 32px;
    cursor: pointer;
}

.close-window:hover {
    opacity: 1;
}

/* Основное содержимое */
.modal-window .content {
    display: flex;
    justify-content: center;
}

.modal-window .image-frame iframe {
 border-radius: 30px;
 margin-right: 80px;
 margin-top: 5%;
 max-height: 480px;
 max-width: 750px;
}

.modal-window .time-left p {
    font-size: 28px;
    margin-right: 20%;
    margin-top: 7%
}

.modal-window .timer {
    margin-top: 5%;
    margin-bottom: 3%;
    background: #868DD4;
    opacity: 0.9;
    color: white;
    border: 1px solid white;
    padding: 15px 40px;
    font-size: 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Candara';
    src: url('/static/regandaut/font/Candara.ttf') format('truetype');
    border-radius: 30px;
}

.modal-window .details p {
    font-size: 26px;
    margin-top: 8%;
}

#wind .buy-ticket {
 margin-top: 12%;
}

#wind .buy-ticket.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

#wind .search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(134, 141, 212, 0.9); /* Light purple */
    border-radius: 20px; /* Rounded corners */
    width: 90%; /* Adjust width as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  }

#wind .logo img {
    width: 120px;
    height: auto;
  }

#wind .search-bar {
    display: flex; /* Flexbox для размещения элементов */
    align-items: left; /* Центрирование элементов по вертикали */
    flex-grow: 1;
    margin: 0 20px; /* Отступы вокруг строки поиска */
    background-color: none;
    border-radius: 20px;
    padding: 5px 10px; /* Внутренние отступы */
    border: none;
    box-shadow: none;
    position: relative;
    flex-direction: column;
}


 .name {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.place {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}


 #second-modal .modal {
    margin: 0 auto;
    padding: 20px;
}

#second-modal .modal .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
}


#second-modal .search-box {
  width: 88%;
  height: 100px;
  position: absolute;
  top: 3%;
  left: 6.5%;
  background-color: rgba(134, 141, 212, 0.9);
  border-radius: 20px;
  padding: 15px 10px; /* Отступы внутри блока */
  color: white; /* Цвет текста */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
  margin: 10px auto;
  }

#second-modal .logo img {
    width: 120px;
    height: auto;
  }

#second-modal .search-bar {
    display: flex; /* Flexbox для размещения элементов */
    align-items: left; /* Центрирование элементов по вертикали */
    flex-grow: 1;
    margin: 0 20px; /* Отступы вокруг строки поиска */
    background-color: none;
    border-radius: 20px;
    padding: 5px 10px; /* Внутренние отступы */
    border: none;
    box-shadow: none;
    position: relative;
    flex-direction: column;
}


/* Содержимое */
.form-section h2{
 font-family: 'Hargid';
 font-size: 40px;
 position: absolute;
 top: 24%;
 left: 8%;
}
 #second-modal .modal-window {
    display: flex;
    gap: 2%;
}

/* Левая колонка */
#second-modal .content label {
  display: block;
  font-size: 18px;
  margin: 10px 0 5px;
  color: white;
}

.modal-window input {
  width: 120px;
  padding: 10px;
  margin-bottom: 5%;
  border: 1.5px solid white;
  border-radius: 25px;
  background: transparent;
  color: white;
  font-family: 'Candara';
  src: url('/static/regandaut/font/Candara.ttf') format('truetype');
  font-size: 24px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

#card-number {
 width: 400px;
}

form {
 position: absolute;
 top: 40%;
 left: 8%;
}

.row{
 display: flex;
 gap: 10%;
}

.row .column {
  display: flex;
  flex-direction: column;
}

input::placeholder {
    color: #ffffff;
  }

input:focus {
   outline: none;
   box-shadow: none;
}

.form-section .selection {
 position: absolute;
 top: 35%;
 left: 8%;
}

.form-section p{
 position: absolute;
 top: 70%;
 right: 16%;
 font-size: 24px;
}

#second-modal .payment-options {
    position: absolute;
    top: 74%;
    left: 8%;
}

#second-modal .payment-options p{
    margin-bottom: 5%;
    font-size: 24px;
    font-family: 'Candara';
 }

 #second-modal form .buy-ticket {
 font-size: 44px;
 position: absolute;
 top: 53%;
 left: 129%;
 border-radius: 40px;
 border: 1.4px solid white;
}

/* Правая колонка */
 #second-modal .details-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

 #second-modal .timer-section {
    font-size: 24px;
    font-family: 'Candara';
    text-align: left;
    position: absolute;
    top: 34%;
    right: 18%;
}

 #second-modal .timer {
    background: #868DD4;
    opacity: 0.9;
    color: white;
    border: 1.5px solid white;
    padding: 15px 40px;
    font-size: 32px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Candara';
    src: url('/static/regandaut/font/Candara.ttf') format('truetype');
    border-radius: 30px;
}

 #second-modal .logos {
    display: flex;
    gap: 10%;
}

 #second-modal .logos img {
    height: 70px;
}


  .back-arrow {
    margin: 0 15px;
  }

  .back-arrow:hover {
    opacity: 0.7;
  }

 .messages{
  font-family: Arial;
  font-size: 0.9rem;
  color: rgba(166, 13, 87, 0.9);
  }