/* Сброс стилей по умолчанию */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Подключение шрифтов */
@font-face {
  font-family: 'Hagrid';
  src: url('./шрифт/Hagrid-Regular-trial.ttf') format('truetype');
}

@font-face {
  font-family: 'Candara';
  src: url('./шрифт/Candarai.ttf') format('truetype');
}

/* Общие стили */
body {
  margin: 0;
  font-family: 'Candara', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(47, 52, 105, 0.9), rgba(134, 141, 212, 0.9));
  color: white;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/static/eventpage/img/IMG_7283.PNG') no-repeat center center;
  background-size: cover;
  z-index: -1;
  opacity: 1;
}

.ticket-right {
    width: 43%;
    height: 60%;
    padding: 20px;
    position: absolute;
    top: 22%;
    left: 16%;
    text-align: center;
    background-color: #868DD4;
    color: white;
    border-radius: 30px;
}

.ticket-left{
    width: 23%;
    height: 60%;
    padding: 20px;
    position: absolute;
    top: 22%;
    left: 59%;
    text-align: center;
    background-color: #868DD4;
    color: white;
    border-radius: 30px;
}

.ticket-university {
    width: 196px;
    height: auto;
    position: absolute;
    top: 5%;
    left: 53%;
}

.ticket-info {
    position: absolute;
    left: 55%;
    top: 22%;
    text-align: left;

}
p{
 margin: 12% 0;
 font-size: 28px;
 font-family: 'Candara';
}

.ticket-image {
    position: absolute;
    top: 0;
    left: 1%;
}

.ticket-logo {
    width: 235px;
    height: auto;
    position: absolute;
    top: 0;
    left: 1%;
}

.ticket-qr-code {
    width: 100%;
    height: 90px;
}

.ticket-details {
    position: absolute;
    left: 31%;
    top: 60%;
    text-align: center;
}

.back-arrow {
    position: absolute;
    top: 30px;
    left: 20px;
  }

  .back-arrow:hover {
    opacity: 0.8;
  }