{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% if event %}
    <title>Ticket for {{event.name}}</title>
    <link rel="stylesheet" href="{% static 'eventpage/css/ticket.css' %}">
</head>
<body>
    <div class="ticket">
        <div class="ticket-front">
            <div class="ticket-logo">
                <img src="ticketspace-logo.png" alt="TicketSpace Logo">
            </div>
            <div class="ticket-university">
                <img src="astana-university-logo.png" alt="Astana University Logo">
            </div>
            <div class="ticket-info">
                <p>Дата: 19-04-2024</p>
                <p>Время: 18:00</p>
                <p>МNU</p>
                <p>Kazhymukan 11, edu&lab</p>
            </div>
            <div class="ticket-image">
                <img src="ticket-image.png" alt="Ticket Image">
            </div>
        </div>
        <div class="ticket-back">
            <div class="ticket-qr-code">
                <img src="qr-code.png" alt="QR Code">
            </div>
            <div class="ticket-details">
                <p>10 билетов:</p>
                <p>2</p>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>