{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if event %}
    <title>{{ event.name }}</title>
    <link rel="stylesheet" href="{% static 'eventpage/css/style.css' %}">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/thumbnails/046/805/074/small/white-star-blink-free-png.png">
</head>
<body>
  <header>
              <a href="/" class="back-arrow">
      <img src="/static/eventpage/img/arrow.png" alt="<--">
    </a>
            <div class="search-box">
                <div class="logo">
                  <a href="/">
                    <img src="/static/mainpage/img/logo_main.PNG" alt="TicketSpace Logo">
                  </a>
                </div>
                <div class="search-bar">
                    <form method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                    <input type="text" name="search" placeholder="Поиск" value="{{ request.GET.search }}">
                    <button type="submit">
                        <img src="/static/eventpage/img/поиск лого.PNG" alt="Search">
                    </button>
                    </form>
                </div>
                <div class="city-select">
                    <img src="/static/mainpage/img/location.PNG" alt="Город" class="icon">
                    <span class="city-text">ГОРОД</span>
                    <ul class="dropdown">
                        <li>Астана</li>
                        <li>Алматы</li>
                        <li>Шымкент</li>
                        <li>Караганда</li>
                    </ul>
                </div>

                <div class="profile">
                  <button onclick="window.location.href='/user/'">
                        <img src="/static/eventpage/img/profile.PNG" alt="Profile">
                    </button>
                </div>
              </div>
    </header>
    <div class="container">
        <div class="content">
            <div class="event-image">
                <img src="/static/eventpage/img/{{ event.image }}" alt="Event poster">
            </div>
            <div class="event-details">
                <h2>{{ event.name }}</h2>
                <p class="description-p"><strong>Описание</strong></p>
                <p class="description">
                    {{ event.description }}
                </p>
                <div class="info">
                    <p><strong>Место: </strong> {{ event.place }} </p>
                    <p><strong>Тип мероприятия: </strong> {{ event.category }} </p>
                    <p><strong>Дата: </strong>{{ event.date }}</p>
                    <p><strong>Время: </strong>{{ event.time }}</p>
                    <p><strong>Организатор: </strong>{{ event.organizer }}</p>
                </div>
                <button class="buy-ticket" id="open-modal">Купить билет</button>
            </div>
        </div>
    </div>


    <!-- Модальное окно -->
    <div id="wind" class="modal">
        <div class="modal-window">
            <div class="search-box">
                <div class="logo">
                  <img src="/static/eventpage/img/logo.png" alt="TicketSpace Logo">
                </div>
                <div class="search-bar">
                    <div class="name"> {{ event.name }} </div>
                    <div class="place"> {{ event.place }} </div>
                </div>
              </div>
            <div class="content">
                <div class="left">
                    <div class="image-frame">
                        <iframe src="https://yuujiso.github.io/aitumap/" width="600" height="400"></iframe>
                    </div>
                </div>
                <div class="right">
                    <div class="time-left">
                        <p><b>До конца продаж:</b></p>
                        <div class="timer">{{ event.timer }}</div>
                    </div>
                    <div class="details">
                        <p><strong>Цена:</strong> {{ event.price }}</p>
                        <p><strong>Дата:</strong> {{ event.date }}</p>
                        <p><strong>Время:</strong> {{ event.time }}</p>
                    </div>
                    <button class="buy-ticket {% if event.timer == 'SOLD OUT!' %}disabled{% endif %}" id="open-second-modal">
                        Купить билет</button>
                    <button class="close-window" id="close-modal">X</button>
                </div>
            </div>
        </div>
        <div class="overlay" id="overlay"></div>
    </div>

        <!-- Второе модальное окно -->
     <div id="second-modal" class="modal">
         <div class="modal-window">
              <div class="search-box">
                <div class="logo">
                  <img src="/static/eventpage/img/logo.png" alt="TicketSpace Logo">
                </div>
                <div class="search-bar">
                    <p class="name"> {{ event.name }} </p>
                    <p class="place"> {{ event.place }} </p>
                </div>
              </div>
        <div class="content">
            <div class="form-section">
                <h2>Оформление заказа</h2>
                <p class="selection"><b>Карта:</b></p>
                <form method="post">
                    {% csrf_token %}
                    <label for="card-number">Номер карты:</label>
                    <input type="text" id="card-number" name="card" placeholder="XXXX-XXXX-XXXX-XXXX" maxlength="16" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 16)" required>
                    <div class="row">
                        <div class="column">
                    <label for="expiry-date">Срок действия:</label>
                    <input type="text" id="expiry-date" name="date" placeholder="MM/YY" maxlength="5" oninput="formatDateInput(this)" required>
                        </div>
                        <div class="column">
                    <label for="cvv">CVV:</label>
                    <input type="password" id="cvv" name="cvv" maxlength="3" placeholder="***" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 3)" required>
                        </div>
                    </div>
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="message {{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                                </div>
                    {% endif %}
                    <button type="submit" class="buy-ticket">Оформить</button>
                </form>
                <p>Отправим билет вам на почту!</p>
                <button class="close-window" id="close-second-modal">X</button>
            </div>
            <div class="details-section">
                <div class="timer-section">
                    <p><b>До конца продаж: </b></p>
                    <div class="timer">{{ event.timer }}</div>
                </div>
                <div class="payment-options">
                    <p><b>В приложении:</b></p>
                <div class="logos">
                    <a href="/redirect/kaspi/{{ event.id }}/">
                        <img src="/static/eventpage/img/kaspi.png" alt="Kaspi.kz">
                    </a>
                    <a href="/redirect/qiwi/{{ event.id }}/">
                        <img src="/static/eventpage/img/qiwi.png" alt="QIWI">
                    </a>
                </div>
                    </div>
                </div>
            </div>
            </div>
         <div class="overlay" id="second-overlay"></div>
        </div>
  {% endif %}

    <script>
        const modal = document.getElementById('wind');
        const secondModal = document.getElementById('second-modal');
        const openModalButton = document.getElementById('open-modal');
        const closeModalButton = document.getElementById('close-modal');
        const overlay = document.getElementById('overlay');

        const openSecondModalButton = document.getElementById('open-second-modal');
        const closeSecondModalButton = document.getElementById('close-second-modal');
        const secondOverlay = document.getElementById('second-overlay');

        // Функции для первого модального окна
        const openModal = () => modal.classList.add('show');
        const closeModal = () => modal.classList.remove('show');

        // Функции для второго модального окна
        const openSecondModal = () => {
            modal.classList.remove('show'); // Закрываем первое окно
            secondModal.classList.add('show'); // Открываем второе окно
        };
        const closeSecondModal = () => secondModal.classList.remove('show');

        openModalButton.addEventListener('click', openModal);
        closeModalButton.addEventListener('click', closeModal);
        overlay.addEventListener('click', closeModal);

        openSecondModalButton.addEventListener('click', openSecondModal);
        closeSecondModalButton.addEventListener('click', closeSecondModal);
        secondOverlay.addEventListener('click', closeSecondModal);

    </script>

</body>
</html>
