{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/thumbnails/046/805/074/small/white-star-blink-free-png.png">
    <title>Карта мероприятий в Алматы</title>
    <link rel="stylesheet" href="{% static 'figuration/css/almaty.css'%}">
</head>
<body>
    <header>
            <a href="/" class="back-arrow">
                <img src="/static/eventpage/img/arrow.png" alt="<--">
            </a>
        <div class="search-box">
            <div class="logo">
              <img src="/static/mainpage/img/logo_main.PNG" alt="TicketSpace Logo">
            </div>
            <div class="search-bar">
                <form method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                    <input type="text" name="search" placeholder="Поиск" value="{{ request.GET.search }}">
                    <button type="submit">
                        <img src="/static/eventpage/img/поиск лого.PNG" alt="Search">
                    </button>
                </form>
        </div>
            <div class="city-select">
                <img src="/static/mainpage/img/location.PNG" alt="Город" class="icon">
                <span class="city-text">ГОРОД</span>
                <ul class="dropdown">
                    <li>Астана</li>
                    <li>Алматы</li>
                    <li>Шымкент</li>
                    <li>Караганда</li>
                </ul>
            </div>

            <div class="profile">
                <button onclick="window.location.href='/user/'">
                    <img src="/static/mainpage/img/profile.PNG" alt="Profile">
                </button>
            </div>
          </div>
    </header>

        <!-- Main Content -->
        <main class="main-content">
            <div class="event-list">
                <h2>Все мероприятия:</h2>
                <ul>
                    <li class="event-item">Отчетный концерт "Eurasia Band"</li>
                    <li class="event-item">ITFest 2024</li>
                </ul>
            </div>
            <div class="map-container">
                <img src='/static/figuration/img/almaty.PNG' alt="Карта Алматы">
            </div>
            <div class="pin Band">
                <button onclick="window.location.href='/event/6/'">
                    <span>Концерт "Eurasia Band"</span>
                </button>
            </div>
            <div class="pin fest">
                <button onclick="window.location.href='/event/9/'">
                    <span>ITFest 2024</span>
                </button>
            </div>
        </main>
</body>
</html>