{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавьте событие</title>
    <link rel="stylesheet" href="{% static 'userpage/css/add_event.css' %}">
    <link rel="icon" href="https://static.vecteezy.com/system/resources/thumbnails/046/805/074/small/white-star-blink-free-png.png">
</head>
<body>
    <a href="{% url 'user' %}" class="back-arrow">
      <img src="/static/eventpage/img/arrow.png" alt="<--">
    </a>
      <!-- Левая часть -->
          <form method="post" class="event-form" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="container">
                  <div class="left-section">
                    <label for="poster-3x4" class="poster-container">
                      <span>Загрузите афишу 3х4 (PNG или JPG)</span>
                      <input type="file" name="photo_path" id="poster-3x4" accept="image/png, image/jpeg" onchange="showFileName(event, 'poster-notification')">
                    </label>
                    <!-- Текстовое уведомление под контейнером -->
                    <p id="poster-notification" class="file-name">Файл еще не выбран</p>
                    <p id="organizer-notification" class="text">*При наличии афиши формата 16х9, вы можете обратиться в раздел сотрудничество для размещения её на сайте</p>
                </div>

                  <!-- Правая часть -->
                  <div class="right-section">
                    <h1>Добавьте событие</h1>
                      <input type="text" name="event_name" placeholder="Название мероприятия" required>
                      <textarea name="description" placeholder="Описание мероприятия" rows="4" required></textarea>
                      <input type="text" name="organizer" placeholder="Организатор" required>
                      <input type="text" name="category" placeholder="Категория" required>
                      <input type="text" name="city" placeholder="Город" required>
                      <input type="text" name="price" placeholder="Цена (впишите '0' если бесплатно)" required>
                      <input type="text" name="address" placeholder="Место/адрес" required>
                      <input type="text" name="people_amount" placeholder="Количество человек">
                      <div class="date-time-container">
                        <input type="date" name="event_date" class="date-input" required>
                        <input type="time" name="time" class="time-input" required>
                      </div>

                      <button type="submit">Сохранить</button>
                        {% if messages %}
                                    <div class="messages">
                                        {% for message in messages %}
                                            <div class="message {{ message.tags }}">{{ message }}</div>
                                        {% endfor %}
                                    </div>
                        {% endif %}
                  </div>
                </div>
              </form>
              </body>

<script>
function showFileName(event, notificationId) {
    const input = event.target;
    const fileName = input.files.length > 0 ? input.files[0].name : "Файл еще не выбран";
    const notification = document.getElementById(notificationId);
    notification.textContent = fileName;
}
</script>
</html>